# ===================================================================================================
# CONFIGURACIÓN DEL SERVIDOR FRONTEND
# ===================================================================================================
# ==========================================
# - - - LOCAL - - -
# ==========================================
# Con Docker
VITE_API_BASE_URL=https://boilerplate-localhost.com/api/v1
# Sin Docker
# VITE_API_BASE_URL=http://localhost:3000/api/v1
VITE_APP_NAME="NodeVue Boilerplate | Dev"
# ==========================================
# - - - PRODUCCIÓN - - -
# ==========================================
# VITE_API_BASE_URL=https://tu-proyecto.onrender.com/api/v1
# VITE_APP_NAME="Node|Vue Boilerplate"

# ===================================================================================================
# LOGIN AUTH - REDES SOCIALES
# ===================================================================================================
# ==========================================
# - - - LOCAL | PRODUCCIÓN - - -
# ==========================================
VITE_SOCIAL_GOOGLE_CLIENT_ID=tu-client-id.apps.googleusercontent.com
VITE_SOCIAL_META_CLIENT_ID=tu-facebook-app-id

# ===================================================================================================
# URL DE LA DOCUMENTACIÓN DE LA API
# ===================================================================================================
# ==========================================
# - - - LOCAL - - -
# ==========================================
VITE_DOCS_URL=http://docs.boilerplate-localhost.com
# ==========================================
# - - - PRODUCCIÓN - - -
# ==========================================
# VITE_DOCS_URL=https://boilerplate-node-2026-docs-docs.vercel.app
