@import "tailwindcss";

/* Asegura que la raíz ocupe siempre al menos el 100% de la ventana */
html,
body,
#app {
    min-height: 100vh;
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    background-color: #0f172a;
    color: #f8fafc;
}

/* --- CURSOR POINTER GLOBAL Y PROFESIONAL --- */
button,
[role="button"],
a,
label[for],
summary,
select,
input[type="checkbox"],
input[type="radio"],
input[type="submit"],
input[type="button"] {
    cursor: pointer;
}

/* Excepción profesional: Si un botón está deshabilitado, el cursor debe indicarlo */
button:disabled,
input:disabled,
[disabled] {
    cursor: not-allowed;
}